html
    head
        title="Development"
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="lib/bootstrap/css/bootstrap.min.css")
        link(rel="stylesheet", href="css/index.css")
        link(rel="stylesheet", href="css/progress-circle.css")
        script(src="lib/jquery-3.2.1.min.js")
        script(src="lib/popper-1.12.9.min.js")
        script(src="lib/bootstrap/js/bootstrap.min.js")
    body.bg-dark
        nav.navbar.navbar-expand-sm.bg-dark.navbar-dark
            a(href="#").navbar-brand="KiBOT" 
                small.text-muted=" ver " + version
        .container-fluid
            .row
                .col-sm-2
                .col-sm-2.text-center
                    .btn-group-vertical#statusBtnGroup
                        button.btn.btn-success.btn-block#statusBtnStart="RUNNING"
                        button.btn.btn-danger.btn-block#statusBtnStop="STOP"
                    
                .col-sm-6
                    .card
                        .card-body
                            .row.align-items-center.text-center
                                .col
                                    .pie-wrapper.progress-70
                                        span.label="10"
                                        .pie
                                            .left-side.half-circle
                                            .right-side.half-circle
                                .col
                                    h1="Minutes Left"
            .row.justify-content-md-center.align-items-center
                .col-sm-8
                    button.btn.btn-block.btn-primary(data-toggle="collapse", data-target="#advancedOptionsCollapse")="Advanced options"
            .row.justify-content-md-center
                .col-sm-8
                    .collapse#advancedOptionsCollapse
                        .row
                            .col-sm-4
                                .card
                                    .card-body.text-center
                                        .btn-group
                                            button.btn.btn-primary(data-toggle="button")="Alt+Tab Enabled"
                            .col-sm-4
                                ul.list-group
                                    li.list-group-item.active.text-center="Custom Browser Title"
                                    li.list-group-item
                                        .input-group.mb-3
                                            input.form-control(placeholder="Add custom title")
                                            .input-group-append
                                                button.btn.btn-outline-primary="Add"
                                    li.list-group-item="Development"